extend layout.pug

block content
    script(src="https://api.stackexchange.com/js/2.0/all.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js")
    script(src="/js/cloud.js")
    script(type='text/javascript').                                                   
        var word_count =!{JSON.stringify(data)}; 
    script(src="/js/drawCloud.js")